
html, body {
  height: 100%;
  margin: 0;
}

/* Footer - Always stay at bottom */
.footer {
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
	margin-top: 10em;
}

.hero {
	margin-bottom: 20px;
}

#products-tabs {
	margin-bottom: 20px;
}

.tab-content {
	padding: 10px;
	border-width: 2px !important;
	border-color: red !important;
}

section {
	border-bottom: medium solid #f5f5f5;
}

